<!--<md-card style='height: 32px; background-color: lightgrey;'>
    <h5>Filters</h5>
</md-card>-->
<div class='filters '>
    <!--<div class='title-bar'>
        <h3 class='f5 fw4 lh-solid'>Filters</h3>
        <button md-button color='accent'>RESET FILTERS</button>
    </div>-->
    <!--<md-card-content>-->
    <div class='label'>Filters:
        <div>Use theses to search</div>
    </div>
    <form>
        <ng-container *ngFor='let control of filters; let i = index;'>
            <md-input-container *ngIf='control.type === "input"'>
                <input [name]='control.value' mdInput [(ngModel)]='search' (ngModelChange)="onChange($event, control.value)" [placeholder]="control.value | ucwords">
            </md-input-container>
            <!--TODO: Make sure to check label-->
            <md-select [name]='control.value' [(ngModel)]='control.selectedOption' (ngModelChange)="onChange($event, control.value)" [placeholder]="control.value | ucwords" *ngIf='control.type === "select"'>
                <md-option [value]="option" *ngFor='let option of control.options'>{{option.value | ucwords }}</md-option>
            </md-select>
        </ng-container>

    </form>
    <!--<md-input-container *ngFor='let control of stub.categories' color='accent'>
        <input mdInput placeholder="{{control.name}}" color='accent'>

    </md-input-container>-->


    <!--</md-card-content>-->
    <!--<md-card-actions>
        <button md-button color='accent'>RESET FILTERS</button>
    </md-card-actions>-->
    <!--<md-chip-list class='mtt4'>
        <md-chip>One fish</md-chip>
        <md-chip>Two fish</md-chip>
        <md-chip color="primary" selected="true">Primary fish</md-chip>
        <md-chip color="accent" selected="true">Accent fish</md-chip>
    </md-chip-list>-->
</div>