.title-bar {
    display: flex;
    h3 {
        margin-top: 0;
    }
}

.filters {
    padding-top: 1rem;
    padding-right: 1rem;
    // padding-bottom: 9px;
    padding-bottom: 1rem;
    padding-left: 1rem;
    // box-shadow: none !important;
    // background-color: #fff !important;
    // background-color: transparent !important;
    .label {
        min-width: 200px;
        // height: 30px;
        // margin-top: 1rem;
        // margin-bottom: 1rem;
        // margin-right: 0.25rem;
        display: none;
        flex-grow: 1;
        align-self: flex-start;
    }
    form {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }
    md-input-container {
        min-width: 200px;
        margin-right: 0.25rem;
        flex-grow: 1;
        flex-shrink: 0;
    }
    md-select {
        min-width: 200px;
        // max-width: 25%;
        // margin-top: 15px;
        // margin-bottom: 15px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 0.25rem;
        flex-grow: 1;
        flex-shrink: 0;
        // font-size: 14px;
    }
    // md-chip-list {
    //     background-color: #f9f9f9 !important;
    // }
}